<%- include('partials/header') %>

<div class="big-container">
    <div class="left-container">
        <a href="/history">History</a>
    </div>
    <div class="middle-container">
        <a href="/start">Start Workout</a>
    </div>
    <div class="right-container">
        <a href="/muscle">Exercises</a>
    </div>
</div>
<br>
<br>

</form>

<%- include('partials/footer') %>