<%- include('partials/header') %>

<h2><%= muscleList %></h2>
<a href="/">Home Page</a>
<br>

<a href="/muscle">Return to Muscle Page</a>
<br>
<br>




<script src="/js/muscle.js"></script>

<%- include('partials/footer') %>