<%- include('partials/header') %>

<a href="/muscle">Return to Muscle Page</a>
<br>
<h2><%= muscleList %></h2>
<ul>
    <% listArray.forEach(function(i) { %>
        <li> 
            <%= i %>
        </li>
    <% }); %>   
</ul>

<%- include('partials/footer') %>