<%- include('partials/header') %>

<h1>Muscles!</h1>
<a href="/">Home Page</a>
<p>
    <% muscle.forEach(function(i) { %>
        <li> 
            <a href="/muscle/<%= i.muscle %>"><%= i.muscle %></a> 
        </li>
    <% }); %>   
</p>

<%- include('partials/footer') %>